:root {
    --white-color: white;
    --accent: #5d21d4;
    --primary: #B9A1DE;
    --secondary: #412083;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #e8e5f0;
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        color: #e8e5f0;
        background-color: #0d0915;
    }
}
